.bootstrap-grid .row > * {
  height: 100px;
  border: 1px solid var(--white); /*consider removing this*/
  padding: 1px; /*consider removing this*/
  background-color: var(--purple);
}

.navbar{
    background-color: rgb(68, 65, 71);
    height: 10%;
    justify-content: space-around;
}

.nav-link{
    color: gray;
    background-color: transparent;
    text-decoration: none;
}
.nav-link:hover{
    color: black;
}
.nav-link:active{
    color: black;
    text-decoration: none;
    outline: none;
}
.navbar-brand{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    margin-left:20%;
    margin-right: 20%;
    text-align: left;
}
.navbar-brand:hover{
    color: black; 
}

.jumbotron{
    height: 700px;
    background-image: url('../images/IMG_3985.jpg'); 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}
.jumboText{
    font-family:'Times New Roman', Times, serif;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;

    margin: 0;
    font-size: 40px;
    text-shadow: 3px 3px rgb(34, 85, 54);
}
.jumboText1{
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    font-size: 30px;
    text-shadow: 3px 3px rgb(34, 85, 54);
}